/* ---------- *\-
// VARS
/* ---------- *\-

/* ---------- *\-
// Font Smoothing
/* ---------- *\-
//
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}
//@include font-smoothing(on);




/* ---------- *\
  MEDIA QUERIES
\* ---------- */

$screen-xs:                  480px !default;
$screen-sm:                  768px !default;
$screen-md:                  992px !default;
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;
// @media (min-width: $screen-sm) { ... }
// @media (min-width: $screen-md) { ... }
// @media (min-width: $screen-lg) { ... }



/* ---------- *\
  // DIY BREAKPOINTS
\* ---------- */
@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 64.375em) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 50em) { @content; }
  }
  @else if $point == small {
    @media (min-width: 37.5em)  { @content; }
  }
}
// .page-wrap {
//   width: 75%;
//   @include breakpoint(large) { width: 60%; }
//   @include breakpoint(medium) { width: 80%; }
//   @include breakpoint(small) { width: 95%; }
// }





/* ---------- *\-
// BORDER RADIUS
/* ---------- *\-
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// Single side border-radius

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
     background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
	-webkit-border-top-left-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
}

// .button {
//   @include border-radius(5px);
// }



/* ---------- *\-
// OPACITY
/* ---------- *\-
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
//@include opacity(0.8);


/* ---------- *\-
// CENTER ALIGN BLOCK
/* ---------- *\-
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//@include center-block;


/* ---------- *\-
// COLORS
/* ---------- *\-
$black: #000;
$black-one: lighten( $black, 30% );
$black-two: lighten( $black, 90% );
$black-three: lighten( $black, 97% );

$white:#FFFFFF;

$purple:#400F2D;
$pink:#7C2151;
$orange:#E77F00;

$link: #6B1148;
$link-hover: lighten( $link, 30% );



/* ---------- *\-
// FONT SIZE
/* ---------- *\-
@mixin font-size($sizeValue: 12 ){
  font-size: $sizeValue + px; //fallback for old browsers
  font-size: (0.125 * $sizeValue) + rem;
}
// body {
//   @include font-size(16);
// }

/* ---------- *\-
// LINE HEIGHT
/* ---------- *\-
@mixin line-height($heightValue: 12 ){
   line-height: $heightValue + px; //fallback for old browsers
   line-height: (0.125 * $heightValue) + rem;
}



/* ---------- *\-
// CLEARFIX
/* ---------- *\-
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//@extend .clearfix;



/* ---------- *\-
// ROTATE
/* ---------- *\-
@mixin rotate($degrees) {
    -webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    transform: rotate($degrees);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=#{-1*sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
    filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=#{-1*sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
}

//@include rotate(-45deg);


/* ---------- *\-
// OPACITY
/* ---------- *\-
@mixin Opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

//@include Opacity(0);


/* ---------- *\-
// BOX SIZING
/* ---------- *\-
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

//@include box-sizing(border-box);


/* ---------- *\-
// VERTICALLY ALIGN ANYTHING
/* ---------- *\-
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// .element p {
//   @include vertical-align();
// }


/* ---------- *\-
// CSS3 TRANSITIONS
/* ---------- *\-
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// @include transition(all .3s);
