/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
@import "vars";


/* ---------- *\
	TYPOGRAPHY
\* ---------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,700|Roboto:100,400,700');


$roboto: "Roboto", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$open-con: "Open Sans Condensed", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;



//  Text Sizing ----------
html,
body {
	//@include font-smoothing(on);
	font-size:90%;
	@media (min-width: $screen-lg) {
 		font-size:100%;
	}
}//html,body





//Page Header
.page-head {
  background:#674172 url(https://unsplash.it/1920/600?image=844) no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
  color:#FFF;
  margin-bottom:2rem;
  padding:2rem 0 1rem;

	@media (min-width: $screen-md) {
		padding:4rem 0 2rem;
	}

	@media (min-width: $screen-lg) {
		padding:8rem 0 4rem;
	}

	h1 {
		font-weight: 900;
		font-size: 2rem;
		text-transform: lowercase;
		text-shadow: 1px 1px 1px #333333;

		@media (min-width: $screen-md) {
			font-size: 3rem;
		}

		@media (min-width: $screen-lg) {
			font-size: 4rem;
		}
	}
}//page-head

//List Group
.list-group {
  margin-bottom:2rem;
}//page-head

//textarea
textarea.form-control {
	min-height:10rem;
}
