/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
@import "vars";


/* ---------- *\
	TYPOGRAPHY
\* ---------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,700|Roboto:100,400,700');


$roboto: "Roboto", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$open-con: "Open Sans Condensed", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;



//  Text Sizing ----------
html,
body {
	//@include font-smoothing(on);
	font-size:90%;
	@media (min-width: $screen-lg) {
 		font-size:100%;
	}
}//html,body


//  Image Default ----------
img {
	height:auto;
	width:100%;
	max-width:100%;
}


.navbar {
	background:#674172;
}


a {
	color:#674172;

	&:hover {
		color:lighten( #674172, 40% );
	}
}//link


//List Group
.list-group {
  margin-bottom:2rem;
}//page-head

//textarea
textarea.form-control {
	min-height:10rem;
}
