/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,700|Roboto:100,400,700");
/* line 178, ../sass/_vars.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ---------- *\
	TYPOGRAPHY
\* ---------- */
/* line 22, ../sass/screen.scss */
html,
body {
  font-size: 90%;
}
@media (min-width: 1200px) {
  /* line 22, ../sass/screen.scss */
  html,
  body {
    font-size: 100%;
  }
}

/* line 33, ../sass/screen.scss */
img {
  height: auto;
  width: 100%;
  max-width: 100%;
}

/* line 40, ../sass/screen.scss */
.navbar {
  background: #674172;
}

/* line 45, ../sass/screen.scss */
a {
  color: #674172;
}
/* line 48, ../sass/screen.scss */
a:hover {
  color: #c9aed1;
}

/* line 55, ../sass/screen.scss */
.list-group {
  margin-bottom: 2rem;
}

/* line 60, ../sass/screen.scss */
textarea.form-control {
  min-height: 10rem;
}
