/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,700|Roboto:100,400,700");
/* line 178, ../sass/_vars.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ---------- *\
	TYPOGRAPHY
\* ---------- */
/* line 22, ../sass/screen.scss */
html,
body {
  font-size: 90%;
}
@media (min-width: 1200px) {
  /* line 22, ../sass/screen.scss */
  html,
  body {
    font-size: 100%;
  }
}

/* line 36, ../sass/screen.scss */
.page-head {
  background: #674172 url(https://unsplash.it/1920/600?image=844) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  color: #FFF;
  margin-bottom: 2rem;
  padding: 2rem 0 1rem;
}
@media (min-width: 992px) {
  /* line 36, ../sass/screen.scss */
  .page-head {
    padding: 4rem 0 2rem;
  }
}
@media (min-width: 1200px) {
  /* line 36, ../sass/screen.scss */
  .page-head {
    padding: 8rem 0 4rem;
  }
}
/* line 52, ../sass/screen.scss */
.page-head h1 {
  font-weight: 900;
  font-size: 2rem;
  text-transform: lowercase;
  text-shadow: 1px 1px 1px #333333;
}
@media (min-width: 992px) {
  /* line 52, ../sass/screen.scss */
  .page-head h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  /* line 52, ../sass/screen.scss */
  .page-head h1 {
    font-size: 4rem;
  }
}

/* line 69, ../sass/screen.scss */
.list-group {
  margin-bottom: 2rem;
}

/* line 74, ../sass/screen.scss */
textarea.form-control {
  min-height: 10rem;
}
